*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
color:white;
font-family:sans-serif;
overflow-x:hidden;
}

section{
min-height:100vh;
padding:100px 8%;
}

.hero{
position:relative;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.sun{
width:200px;
height:200px;
background:#ffb84d;
border-radius:50%;
filter:blur(20px);
margin-bottom:40px;
}

.hero h1{
font-size:5rem;
}

.hero p{
font-size:1.3rem;
opacity:.7;
}

.boy{
font-size:60px;
margin-top:50px;
}

.story{
position:relative;
height:500vh;
}

.road{
position:fixed;
bottom:0;
width:100%;
height:120px;
background:#222;
}

.stage{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.stage h2{
font-size:4rem;
margin-bottom:20px;
}

.about,
.skills,
.timeline,
.certifications,
.contact{
background:white;
color:black;
}

.card{
display:flex;
gap:30px;
align-items:center;
}

.card img{
width:250px;
border-radius:20px;
}

.skill{
margin:30px 0;
}

.bar{
height:12px;
background:#ddd;
border-radius:50px;
overflow:hidden;
}

.bar div{
width:0%;
height:100%;
background:black;
}

.cert-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.cert-card{
padding:40px;
background:#f5f5f5;
border-radius:20px;
transition:.4s;
}

.cert-card:hover{
transform:translateY(-10px);
}

.timeline-item{
padding:30px;
margin:20px 0;
border-left:4px solid black;
}